body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  margin: 4px 0;
}

a {
  color: #00B7FF;
}

.inline-form {
  display: inline;
}

.inline-form input {
  background: inherit;
  color: #00B7FF;
  text-decoration: underline;
  border: 0;
  font-size: 14px;
}
